th, td {
    min-width: 0;
}

th, tfoot td {
    background: $link-color;
    font-weight: bold;
    color: whitesmoke;
}

table.turgonodds th {
    text-align: left !important;
}

table.turgonodds th:nth-child(1) {
    text-align: center !important;
}

/*
table.levels th, table.levels td {
  text-align: right !important;
}


.levels td:nth-child(1), .levels th:nth-child(1) {
    text-align: left !important;
}


.weapons td:nth-child(1), .weapons th:nth-child(1) {
    text-align: left !important;
}
.weapons td:nth-child(2), .weapons th:nth-child(2),
.weapons td:nth-child(3), .weapons th:nth-child(3) {
    text-align: right !important;
}


.armours td:nth-child(1), .armours th:nth-child(1) {
    text-align: left !important;
}
.armours td:nth-child(2), .armours th:nth-child(2),
.armours td:nth-child(3), .armours th:nth-child(3) {
    text-align: right !important;
}


.weaponsarmours td:nth-child(1), .weaponsarmours th:nth-child(1),
.weaponsarmours td:nth-child(4), .weaponsarmours th:nth-child(4){
    text-align: left !important;
}
.weaponsarmours td:nth-child(2), .weaponsarmours th:nth-child(2),
.weaponsarmours td:nth-child(3), .weaponsarmours th:nth-child(3),
.weaponsarmours td:nth-child(5), .weaponsarmours th:nth-child(5),
.weaponsarmours td:nth-child(6), .weaponsarmours th:nth-child(6) {
    text-align: right !important;
}


.masters td:nth-child(1), .masters th:nth-child(1),
.masters td:nth-child(4), .masters th:nth-child(4) {
    text-align: left !important;
}
.masters td:nth-child(2), .masters th:nth-child(2),
.masters td:nth-child(3), .masters th:nth-child(3),
.masters td:nth-child(5), .masters th:nth-child(5),
.masters td:nth-child(6), .masters th:nth-child(6) {
    text-align: right !important;
}


.monsters td:nth-child(1), .monsters th:nth-child(1),
.monsters td:nth-child(7), .monsters th:nth-child(7),
.monsters td:nth-child(8), .monsters th:nth-child(8) {
    text-align: left !important;
}
.monsters td:nth-child(2), .monsters th:nth-child(2),
.monsters td:nth-child(3), .monsters th:nth-child(3),
.monsters td:nth-child(4), .monsters th:nth-child(4),
.monsters td:nth-child(5), .monsters th:nth-child(5),
.monsters td:nth-child(6), .monsters th:nth-child(6) {
    text-align: right !important;
}
*/

