th, td {
    min-width: 0;
}

th, tfoot td {
    background: $link-color;
    font-weight: bold;
    color: whitesmoke;
}

table.masterodds th {
    text-align: center !important;
}

@media (min-width: 50rem) {
    .site-nav {
      padding-top: 1.5rem;
    }

    .site-title {
        padding-right: 1.28rem;
      }
}


.oddsinfo {
    font-size: 0.9rem;
}

.masteroddsfooter {
    font-size: 0.80rem;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    text-align: right;
}


.homeh1 {
    /*
    font-size: 1.70rem !important;
    
    color: white;
    text-shadow: $link-color 1px 0 5px;
    */
    text-shadow: $link-color -1px 1px 3px;
    font-weight: 800;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

.table-wrapper:has(table.realms-table) {
    box-shadow: unset;
}

.realms-table, .realms-table th, .realms-table tr, .realms-table td {
    border: 0;
    background: unset;
}

.realm-button {
    width: 6.8rem;
    text-align: center;
    margin-top: 0.52rem;
    font-weight: bold;
}

.btn-red {
    @include btn-color($white, $red-300);
}

.btn-gray {
    @include btn-color($white, $grey-dk-200);
}
  
code {
    white-space: pre-wrap;
}


/*

table.turgonodds th:nth-child(1) {
    text-align: center !important;
}

table.levels th, table.levels td {
  text-align: right !important;
}


.levels td:nth-child(1), .levels th:nth-child(1) {
    text-align: left !important;
}


.weapons td:nth-child(1), .weapons th:nth-child(1) {
    text-align: left !important;
}
.weapons td:nth-child(2), .weapons th:nth-child(2),
.weapons td:nth-child(3), .weapons th:nth-child(3) {
    text-align: right !important;
}


.armours td:nth-child(1), .armours th:nth-child(1) {
    text-align: left !important;
}
.armours td:nth-child(2), .armours th:nth-child(2),
.armours td:nth-child(3), .armours th:nth-child(3) {
    text-align: right !important;
}


.weaponsarmours td:nth-child(1), .weaponsarmours th:nth-child(1),
.weaponsarmours td:nth-child(4), .weaponsarmours th:nth-child(4){
    text-align: left !important;
}
.weaponsarmours td:nth-child(2), .weaponsarmours th:nth-child(2),
.weaponsarmours td:nth-child(3), .weaponsarmours th:nth-child(3),
.weaponsarmours td:nth-child(5), .weaponsarmours th:nth-child(5),
.weaponsarmours td:nth-child(6), .weaponsarmours th:nth-child(6) {
    text-align: right !important;
}


.masters td:nth-child(1), .masters th:nth-child(1),
.masters td:nth-child(4), .masters th:nth-child(4) {
    text-align: left !important;
}
.masters td:nth-child(2), .masters th:nth-child(2),
.masters td:nth-child(3), .masters th:nth-child(3),
.masters td:nth-child(5), .masters th:nth-child(5),
.masters td:nth-child(6), .masters th:nth-child(6) {
    text-align: right !important;
}


.monsters td:nth-child(1), .monsters th:nth-child(1),
.monsters td:nth-child(7), .monsters th:nth-child(7),
.monsters td:nth-child(8), .monsters th:nth-child(8) {
    text-align: left !important;
}
.monsters td:nth-child(2), .monsters th:nth-child(2),
.monsters td:nth-child(3), .monsters th:nth-child(3),
.monsters td:nth-child(4), .monsters th:nth-child(4),
.monsters td:nth-child(5), .monsters th:nth-child(5),
.monsters td:nth-child(6), .monsters th:nth-child(6) {
    text-align: right !important;
}
*/

