//@import "./color_schemes/dark";

//$link-color: #c2370c;
$link-color: #9e0000;
//$link-color: $red-000;
//$link-color: $red-100;
//$link-color: $red-200;
//$link-color: $red-300;
//$btn-primary-color: $link-color;

@font-face {
	font-family: 'consolas-webfont';
	src: local(Consolas), url('/assets/fonts/Consolas.woff') format('woff');
}

@font-face {
	font-family: 'consolas-webfont';
	src: local(Consolas), url('/assets/fonts/Consolas-Bold.woff') format('woff');
	font-weight: bold;
}

@font-face {
	font-family: 'Tangerine';
	font-style: normal;
	font-weight: normal;
	src: local('Tangerine'), url('/assets/fonts/Tangerine_Regular.woff') format('woff');
	font-display: block;
}


.homeh1 {
    font-size: 1.70rem !important;
    color: white;
    text-shadow: $link-color 1px 0 10px;
    font-weight: 400;
}

$tcorner: 7px;

th:first-of-type, table {
    border-top-left-radius: $tcorner;
}
th:last-of-type, table {
    border-top-right-radius: $tcorner;
}
tr:last-of-type td:first-of-type, table {
    border-bottom-left-radius: $tcorner;
}
tr:last-of-type td:last-of-type, table {
    border-bottom-right-radius: $tcorner;
}



div#Clock {
    /*
    background-color: rgb(225, 223, 223);
    width: 100%;
    
    width: 16.5rem;
    height: 72px;
    text-align: center;
    line-height: 72px;
    */
    font-family: "Consolas", "consolas-webfont", "Courier New", monospace;
    color: #333;
    text-shadow: $link-color 1px 0 2px;
    font-size: 1.16rem;
    font-weight: bold;
    margin-right: 0.7rem;
    height: 3.75rem;
    line-height: 3.75rem;
    
}