//@import "./color_schemes/dark";

//$link-color: #c2370c;
//$link-color: $red-000;
//$link-color: $red-100;
$link-color: $red-200;
//$link-color: $red-300;
//$btn-primary-color: $link-color;



$tcorner: 7px;
th:first-of-type {
    border-top-left-radius: $tcorner;
}
th:last-of-type {
    border-top-right-radius: $tcorner;
}
tr:last-of-type td:first-of-type {
    border-bottom-left-radius: $tcorner;
}
tr:last-of-type td:last-of-type {
    border-bottom-right-radius: $tcorner;
}